@circle: 50%;
@unset: unset;
@width: 128px;
@height: @width;
.avatarupload {
  :global {
    .ant-upload-list-picture-card-container {
      width: @width;
      height: @height;
      .ant-upload-list-item {
        padding: @unset;
        overflow: hidden;
        border: @unset;
        border-radius: @circle;
      }
    }
    .ant-upload.ant-upload-select-picture-card {
      width: @width;
      height: @height;
      border: @unset;
      border-radius: @circle;
    }
  }
}
