/** @format */

.customRow {
    padding: 16px;
}
.customTree {
    border-right: 1px solid #eee;
    .ant-tree-treenode {
        width: 100%;
        .ant-tree-node-content-wrapper {
            width: inherit;
        }
    }
}
.treeSearch {
    margin-bottom: 1rem;
}
.customRender {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.overlayDropDown {
    display: none;
}
.site-tree-search-value {
    color: #f50;
}
.ant-tree-node-content-wrapper:hover .overlayDropDown {
    display: block;
}
